# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Development

on:
  push:
    branches:
      - '*'
      - '!main'
      - '!master'

jobs:
  test-matrix:
    needs: [verify_style, verify_types]
    strategy:
      fail-fast: false
      matrix:
        experimental: [false]
        arch:
          - 'x64'
        python_version:
          - '3.7'
          - '3.8'
          - '3.9'
          - '3.10'
          - '3.11'
          - '3.12'
          - 'pypy3.7'
          - 'pypy3.8'
          - 'pypy3.9'
        os:
          - 'ubuntu-latest'
        include:
          -
            python_version: 'pypy3.10'
            experimental: true
            arch: 'x64'
            os: ubuntu-latest

    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    steps:
      -
        uses: actions/checkout@v4
      -
        name: Set up Python ${{ matrix.python_version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python_version }}
          architecture: ${{ matrix.arch }}
      -
        name: Install dependencies
        run: |
          python -m pip install --upgrade pip invoke typing-extensions
          invoke setup --tests
      -
        name: Test with pytest
        run: |
          python/bin/python -m pytest

  verify_style:
    runs-on: 'ubuntu-latest'
    steps:
      -
        uses: actions/checkout@v4
      -
        name: Set up Python 3
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          architecture: 'x64'
      -
        name: Install dependencies
        run: |
          python -m pip install --upgrade pip invoke typing-extensions
          invoke setup --no-project --devel --tests
      -
        name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          python/bin/python -m flake8 instruct/ --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          python/bin/python -m flake8 instruct/ --ignore=E203,W503 --count --exit-zero --max-complexity=103 --max-line-length=127 --statistics
      -
        name: Check style with black
        run: |
          python/bin/python -m black --check instruct

  verify_types:
    runs-on: 'ubuntu-latest'
    steps:
      -
        uses: actions/checkout@v4
      -
        name: Set up Python 3
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          architecture: 'x64'
      -
        name: Install dependencies
        run: |
          python -m pip install --upgrade pip invoke
          invoke setup --devel --tests
      -
        name: validate types
        run: |
          python/bin/python -m mypy instruct
